fastapi
uvicorn[standard]
sqlalchemy
pymysql
pydantic
email-validator
python-dotenv
python-multipart
openpyxl
requests
beautifulsoup4
feedparser
lxml
sumy
nltk
langdetect
pytest
httpx
openpyxl
fpdf2
feedparser
newspaper3k
lxml_html_clean
